<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebPage",
      "@id": "https://pieterprovoost.be/",
      "url": "https://pieterprovoost.be/",
      "name": "Pieter Provoost",
      "description": "Marine scientist and data engineer; biodiversity informatician at UNESCO's Intergovernmental Oceanographic Commission.",
      "isPartOf": {
        "@type": "WebSite",
        "@id": "https://pieterprovoost.be/#website",
        "url": "https://pieterprovoost.be/",
        "name": "Pieter Provoost"
      },
      "about": {
        "@id": "https://pieterprovoost.be/#person"
      },
      "primaryImageOfPage": {
        "@type": "ImageObject",
        "url": "https://github.com/pieterprovoost.png"
      }
    },
    {
      "@type": "Person",
      "@id": "https://pieterprovoost.be/#person",
      "name": "Pieter Provoost",
      "givenName": "Pieter",
      "familyName": "Provoost",
      "url": "https://pieterprovoost.be/",
      "image": {
        "@type": "ImageObject",
        "url": "https://github.com/pieterprovoost.png"
      },
      "email": "pieterprovoost@gmail.com",
      "description": "Marine scientist and data engineer; biodiversity informatician at UNESCO's Intergovernmental Oceanographic Commission.",
      "jobTitle": "OBIS data manager",
      "worksFor": {
        "@type": "Organization",
        "name": "UNESCO Intergovernmental Oceanographic Commission",
        "url": "https://www.ioc.unesco.org/en",
        "parentOrganization": {
          "@type": "Organization",
          "name": "UNESCO",
          "url": "https://www.unesco.org/"
        }
      },
      "sameAs": [
        "https://www.linkedin.com/in/pieterprovoost/",
        "https://github.com/pieterprovoost",
        "https://twitter.com/PieterPrvst",
        "https://orcid.org/0000-0002-4236-0384"
      ],
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://pieterprovoost.be/"
      }
    }
  ]
}
</script>
