<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<link href='https://fonts.googleapis.com/css?family=Pacifico|Amatic+SC|Satisfy|Cabin+Sketch|Grand+Hotel|IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
		</head>
		<body>
			<header class="cf">
			<div id="title">
				Pieter Provoost
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
	        		<li><a href="/articles">Articles</a></li>
	    		</ul>
			</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pieterprovoost@gmail.com"><i class="fa fa-lg fa-envelope"></i></a></li>
	        		<li><a href="https://github.com/pieterprovoost"><i class="fa fa-lg fa-github"></i></a></li>
			</ul>
			</footer>
		</body>
	</html>
