<!doctype html>
<html ng-app="app">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="style.css" />

</head>
<body ng-controller="mapcontroller">

<leaflet id="map" map="map"></leaflet>

<div id="wrapper" class="container" ng-cloak>

		<div class="col-md-12">
			<h4>Layers</h4>
			<div class="input-group">
				<button type="button" id="eezbutton" class="btn btn-default" ng-click="toggleeez()">EEZ</button>
			</div>
		</div>

		<div class="col-md-12">
			<h4>Coordinates</h4>
			<div class="input-group">
				<input class="form-control" id="searchfield" ng-enter="plot()" ng-model="coord" placeholder="Enter coordinates">
				<span class="input-group-btn">
					<button type="button" id="plotbutton" class="btn btn-default" ng-click="plot()">Add</button>
				</span>
			</div>
		</div>

		<div class="col-md-12">
			<h4>Geocoding</h4>
			<div class="input-group">
				<input class="form-control" id="coding" ng-enter="geocode()" ng-model="input" placeholder="Enter location name">
				<span class="input-group-btn">
					<button type="button" id="codebutton" class="btn btn-default" ng-click="geocode()">Submit</button>
					<button type="button" id="codebutton" class="btn btn-default" ng-click="clearcode()">Clear</button>
				</span>
			</div>

			<p>
				<table class="table table-condensed">
					<thead>
			            <tr>
			                <th>Type</th>
			                <th>Name</th>
			                <th>Longitude</th>
			                <th>Latitude</th>
			            </tr>
		            </thead>
		            <tbody>
		            <tr class="point" ng-repeat="g in gazetteer" ng-click="add(g.longitude, g.latitude, g.preferredGazetteerName)">
		                <td>{{g.placeType}}</td>
		                <td>{{g.preferredGazetteerName}}</td>
		                <td>{{g.longitude | number : 4}}</td>
		                <td>{{g.latitude | number : 4}}</td>
		            </tr>
		            <tr ng-if="!(gazetteer.length > 0) && !loading"><td class="loading">No results</td></tr>
		            <tr ng-if="loading"><td class="loading">Loading...</td></tr>
		            </tbody>
	            </table>
            </p>

		</div>

		<div class="col-md-12">
			<h4>Locations</h4>
			<p>
				<table class="table table-condensed">
					<thead>
			            <tr>
			                <th>Longitude</th>
			                <th>Latitude</th>
			                <th>Name</th>
			                <th></th>
			            </tr>
		            </thead>
		            <tbody>
		            <tr ng-repeat="l in locations" >
		                <td>{{l.lon}}</td>
		                <td>{{l.lat}}</td>
		                <td>{{l.name}}</td>
		                <td><a href="#" ng-click="del(l)"><span class="glyphicon glyphicon-remove"></span></a></td>
		            </tr>
		            <tr ng-if="!(locations.length > 0)"><td class="loading">No locations</td></tr>
		            </tbody>
	            </table>
            </p>
		</div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<script src="bower_components/leafcutter/leafcutter.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</body>
</html>