<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
</head>
<body>

<div id="content">
	<div class="container">
	
	{{ content }}

	</div>
</div>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>